<!DOCTYPE html>
<html>
    <head>
        <title>A simple shop</title>
        <link rel="stylesheet" href="headerex.css">
    </head>
    <body>
      <header class="boldstyle">
        <div class="websitetitle">
          <p>hip website <br>
            name
          </p>
        </div>

        <div class="headermain">
        <ul>
          <li>
            <a href="/test/browse.php">Browse</a>
          </li>
          <li>
          <a href="/test/index.php">Home</a>
          </li>
          <li>
          <a href="/test/Track.php">Track Order</a>
          </li>
        </ul>
      </div>
      <div class="headermain">
        <ul>
          <li>
            <a href="/test/cart.php">Cart</a>
          </li>
          <li>
          <a href="/test/index.php">About</a>
          </li>
          <li>
          <a href="/test/Track.php">Styles</a>
          </li>
        </ul>
      </div>
      </header>
      
      I want images in a 2x10 grid with scoll, initially looking like polaroid photographs
      <ul class="shopgrid">
        <li class="shopgriditem">
          <img src="https://www.nps.gov/articles/images/REd-Fox-Cover.jpg?maxwidth=650&autorotate=false&quality=78&format=webp" alt="fox1">
          <p class="shopgridtext">Test2</p>Testtext
        </li>
        <li class="shopgriditem">
          <img src="https://www.nps.gov/articles/images/Dark-red-fox-craters.jpg?maxwidth=650&autorotate=false&quality=78&format=webp" alt="fox2">

        </li>
        <li class="shopgriditem">
        <img src="https://www.nps.gov/articles/images/red-fox_Ed-Sharron-copy.jpg?maxwidth=650&autorotate=false&quality=78&format=webp" alt="fox3">
        </li>
        <li class="shopgriditem">
          <img src="https://www.nps.gov/chis/learn/nature/images/960-2K0A6361_1.jpg?maxwidth=650&autorotate=false&quality=78&format=webp" alt="fox4">
        </li>



      </ul>



    </body>
</html>

