<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="polaroid.css">
	</head>
<body>
	<!-- <header id="main-header" > -->
	<!-- </header> -->
	<div class="galery">
		<!-- Start of Page header-->
		<!-- Start of Page Content -->

		<figure class="polaroid">
			<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
			<figcaption>Example Image 1</figcaption>
		</figure>

		<figure class="polaroid">
			<div class="photo-area"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBMV6jOfk5_75cRkdk8UVjirMz6ilwlx5mVA&s" alt="Red Foxes - NWF | Ranger Rick"> </div>
			<figcaption> Example Image 2 </figcaption>
		</figure>
	</div>
</body>
</html> 
