:root {
	--background: #000000;
	--page-foreground: white;
	--page-background: #181818;
	--content-foreground: #ffffff;
	--content-background: #181818;

	--polaroid-size: 10.752cm;
	--polaroid-sepia: 30%;
	--polaroid-background: #272727;
	--paper-color: #FAFCDE;
}

body {
	background: var(--background);
	margin: 0;
}


.galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	/* column-width: calc(var(--polaroid-size) * 0.823057 ); */
	/* column-fill: balance; */
  /* column-gap: 1em; */
	/* overflow-x: hidden; */
}

.photo-area {
	box-sizing: border-box;
	height:   calc(var(--polaroid-size) * 0.734231);
	width:    calc(var(--polaroid-size) * 0.714387);
	transform:  rotate(calc(var(--rotation-image, 0deg)));

	margin: 0;
	flex-shrink: 0;

	align-content: center;
	background: var(--polaroid-background);
}
/* Size source : */
/* https://support.polaroid.com/hc/en-us/articles/115012363647-What-are-Polaroid-photo-dimensions */

.polaroid {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	height: var(--polaroid-size);
	width: calc(var(--polaroid-size) * 0.823057);
	transform: rotate(calc(var(--rotation, 0deg)));

	padding: calc(var(--polaroid-size) * 0.054217);
	margin: 0.25em 0.25em;

	break-inside: avoid;
	background: var(--paper-color, white); 
	filter: sepia(var(--polaroid-sepia));
}
.polaroid > figcaption {
	flex-grow: 1;

	font-family: 'Caveat', cursive;
	font-size: 1.7rem;

	text-align-last: center;
	overflow: hidden;
}

.polaroid > .photo-area > img {
	max-width:  100%;
  max-height: 100%;
	object-fit: scale-down;
}

.polaroid:nth-child(29n+0)  { --rotation : -0.54deg; --rotation-image : -0.17deg;}
.polaroid:nth-child(29n+1)  { --rotation : -0.47deg; --rotation-image : -0.38deg;}
.polaroid:nth-child(29n+2)  { --rotation :  0.47deg; --rotation-image :  0.48deg;}
.polaroid:nth-child(29n+3)  { --rotation : -0.23deg; --rotation-image :  0.94deg;}
.polaroid:nth-child(29n+4)  { --rotation : -0.74deg; --rotation-image :  1.04deg;}
.polaroid:nth-child(29n+5)  { --rotation : -0.58deg; --rotation-image : -0.20deg;}
.polaroid:nth-child(29n+6)  { --rotation : -1.20deg; --rotation-image :  1.00deg;}
.polaroid:nth-child(29n+7)  { --rotation : -1.17deg; --rotation-image :  1.03deg;}
.polaroid:nth-child(29n+8)  { --rotation : -0.07deg; --rotation-image :  0.50deg;}
.polaroid:nth-child(29n+9)  { --rotation :  1.18deg; --rotation-image :  0.60deg;}
.polaroid:nth-child(29n+10) { --rotation :  0.84deg; --rotation-image : -1.01deg;}
.polaroid:nth-child(29n+11) { --rotation : -0.29deg; --rotation-image : -0.72deg;}
.polaroid:nth-child(29n+12) { --rotation : -1.09deg; --rotation-image : -0.70deg;}
.polaroid:nth-child(29n+13) { --rotation :  1.06deg; --rotation-image :  0.34deg;}
.polaroid:nth-child(29n+14) { --rotation : -0.42deg; --rotation-image : -0.92deg;}
.polaroid:nth-child(29n+15) { --rotation : -0.52deg; --rotation-image : -0.18deg;}
.polaroid:nth-child(29n+16) { --rotation : -0.18deg; --rotation-image : -0.97deg;}
.polaroid:nth-child(29n+17) { --rotation :  0.16deg; --rotation-image : -0.36deg;}
.polaroid:nth-child(29n+18) { --rotation :  0.00deg; --rotation-image :  0.60deg;}
.polaroid:nth-child(29n+19) { --rotation :  0.05deg; --rotation-image :  1.12deg;}
.polaroid:nth-child(29n+20) { --rotation : -0.12deg; --rotation-image : -0.94deg;}
.polaroid:nth-child(29n+21) { --rotation : -0.88deg; --rotation-image :  0.38deg;}
.polaroid:nth-child(29n+22) { --rotation :  0.73deg; --rotation-image : -0.20deg;}
.polaroid:nth-child(29n+23) { --rotation :  1.02deg; --rotation-image : -0.91deg;}
.polaroid:nth-child(29n+24) { --rotation : -0.51deg; --rotation-image : -0.38deg;}
.polaroid:nth-child(29n+25) { --rotation : -0.58deg; --rotation-image : -0.18deg;}
.polaroid:nth-child(29n+26) { --rotation : -0.38deg; --rotation-image :  0.67deg;}
.polaroid:nth-child(29n+27) { --rotation : -0.89deg; --rotation-image : -0.57deg;}
.polaroid:nth-child(29n+28) { --rotation : -1.24deg; --rotation-image :  1.08deg;}
































